*.[1578]
*.pod
*.html
*.tmp
*.o
*.a
aclocal.m4
authenticate/authvmailmgr
authenticate/checkvpw
authenticate/vauthenticate
autom4te.cache
cgi/listvdomain
cgi/vaddalias
cgi/vadduser
cgi/vchattr
cgi/vchforwards
cgi/vdeluser
cgi/vpasswd
commands/dumpvuser
commands/listvdomain
commands/vadduser
commands/vaddusers
commands/vchattr
commands/vchforwards
commands/vdeliver
commands/vdeluser
commands/vpasswd
commands/vpasswds
commands/vrehash
commands/vsetup
commands/vupgrade
compile
config.h
config.h.in
config.log
config.status
configure
daemon/vmailmgrd
depcomp
.deps
doc/*.info
doc/*.pdf
doc/*.ps
doc/*.txt
install-sh
lib/ac
lib/cdb++
lib/cgi
lib/cli++
lib/config/_*.cc
lib/config/configrc.h
lib/config/showvconfig
lib/config/showvconfig.cc
lib/fdbuf
lib/mystring
Makefile
Makefile.in
missing
python/local.py
python/*.pyc
python/__pycache__/
python/*.pyo
stamp-h1
