<? vmailmgr.lookup_user() ?>
<p>Lookup results for user '%(USERNAME)s@%(DOMAIN)s':
<ul>
<li>Mailbox: %(mailbox)s
<li>Forwards: %(forwards)s
<li>Soft Quota: %(soft_quota)s
<li>Hard Quota: %(hard_quota)s
<li>Message Count Limit: %(message_count_limit)s
<li>Message Size Limit: %(message_size_limit)s
<li>Creation Time: %(creation_time)s
<li>Personal Info: %(personal)s
<li>Mailbox Enabled? %(mailbox_enabled)s
<li>Expiry Time: %(expiry_time)s
</ul>
</p>

<? status = vmailmgr.autoresponse_status() ?>
<p>Autoresponse status: %(status)s
<? if status == "enabled" ?>
<a href="disable-autoresponse?username=%(USERNAME)s">Disable</a>
<? end ?>
<? if status == "disabled" ?>
<a href="enable-autoresponse?username=%(USERNAME)s">Enable</a>
<? end ?>

<form method=post action="write-autoresponse">
<input type=hidden name=username value="%(USERNAME)s">
<? if status == "nonexistant" ?>
<textarea rows=9 cols=70 name=message>From: <%(USERNAME)s@%(DOMAIN)s>
Subject: put your subject here

Your message goes here
</textarea>
<input type=submit value="Create Autoresponse">
<? else ?>
  <? autoresponse = vmailmgr.autoresponse_read() ?>
  <textarea rows=9 cols=70 name=message>%(autoresponse)s</textarea>
  <input type=submit value="Modify Autoresponse">
<? end ?>
</p>
</form>

<p><a href="">Main menu</a></p>
